/* Style de estado */

#table_filter{
	display: none;
}

.dataTables_filter{
	display: none;
}

#caejpa{
	margin-bottom: 10px;
    width: 348px;
}

#boton{
    margin-top: 5px;
}

#banco_id{
	margin-left: 2px;
	width: 567px;
}

#cuenta_id{
	margin-left: 2px;
}

#cheq{
	margin-left: 10px;

}
#cheque{
	margin-left: 2px;

}

#cuotas{
 	margin-left: 2px;
 }

#fiador_1{
 	margin-left: 2px;
 }

#fiador_2{
 	margin-left: 2px;
 }

#fiador_3{
 	margin-left: 2px;
 }

#fiador_4{
 	margin-left: 2px;
 }



 #mar-{
 	margin-top: 28px;
 }