
	#arbol{
		min-height: 200px;
	}
	#upload_link{
    text-decoration:none;
	}
	#upload{
    display:none
	}
	.mt-element-overlay .mt-overlay-6 {
	    background: #003f8c none repeat scroll 0 0;
	}
	.mt-overlay-6 img{
		min-height: 250px;
	}
	.tab-content{	
		width: auto;
	}

	.profile-sidebar-portlet {
    	padding: 0 !important;
	}
	.mt-element-overlay .mt-overlay-6 {
    	background: #3598DC none repeat scroll 0 0;
	}

	.mt-element-overlay .mt-overlay-6 h4{
		border-top: 1px solid;
	    color: #fff;
	    font-weight: bold;
	    padding-top: 15px;
	}
	.profile-sidebar .portlet.light {
    background-color: none;
   
	}


